* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	min-height: 100vh;
  /* background-color: rgb(67, 77, 87); */
	background-color: #282c34;
  color: aliceblue;
}

